<h4 class="mt-5">{{model.name}}</h4>

<div class="input-group">
    {{input type="text" value=model.name  disabled=isSaving placeholder="Team name" class="form-control"}}
    {{#if this.model.hasDirtyAttributes}}
        <div class="input-group-append">
            <button class="btn btn-primary" {{action 'save'}}>Save</button>
            <button class="btn btn-secondary" {{action 'cancel'}}>Cancel</button>
        </div>
    {{/if}}
</div>
<h5 class="mt-3">Players:</h5>
{{players-list players=model.players}}
<h5>Create new player</h5>
<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text" id="">First and last name</span>
    </div>
    {{input type="text" value=newPlayer.firstName placeholder="First Name" class="form-control"}}
    {{input type="text" value=newPlayer.lastName placeholder="Last Name" class="form-control"}}
    <div class="input-group-append">
        <button class="btn btn-primary" type="button" {{action 'addPlayer'}}>Add</button>
    </div>
</div>
